.DS_Store
node_modules/
npm-debug.log
{{#unit}}
webpack/test/unit/coverage
{{/unit}}
{{#e2e}}
webpack/test/e2e/reports
selenium-debug.log
{{/e2e}}

# Rails
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
